/* stylelint-disable-next-line at-rule-no-unknown */
@use "sass:map";

$spacer: 4px;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
);

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

$btn-font-size: 14px;
$btn-font-size-sm: 12px;
$btn-padding-y: map.get($spacers, 3);
$btn-padding-x: map.get($spacers, 4);
